body {
  background-color: rgb(0, 0, 0);
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: auto;
  display: inline-block;
}

.kiri {
  float: left;
  margin-top: 2px;
  margin-left: 40px;
  position: relative;
}

.kiri,
img {
  width: 450px;
  height: 50%;
}

.iphone {
  width: 350px;
  margin-left: 70px;
}

.kanan {
  float: right;
  margin-left: 5px;
  margin-top: 40px;
}

#p1 {
  display: block;
  border: 1px solid rgb(255, 255, 255);
  padding-right: 40px;
  padding-bottom: 20px;
}

.logo {
  width: 170px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 30px;
}

form {
  padding-left: 30px;
}

#username {
  width: 270px;
  padding: 8px;
  border: 1px solid;
  background-color: white;
}

#password {
  margin-top: 5px;
  width: 270px;
  padding: 8px;
  border: 1px solid;
  background-color: white;
}

button {
  background-color: #0a77c0;
  color: white;
  padding: 8px 115px;
  border: none;
  font-weight: bolder;
  margin-top: 17px;
  border-radius: 8px;
}

.garis {
  text-align: center;
  margin-top: -2px;
  color: white;
}

.garis h5 {
  position: relative;
  display: inline-block;
}

.garis h5:before {
  content: " ";
  position: absolute;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 100px;
  left: -118px;
  top: 40%;
}

h5 {
  padding-right: 5px;
}

.garis h5:after {
  content: " ";
  position: absolute;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 100px;
  right: -114px;
  top: 35%;
}

.facebook {
  text-align: center;
  margin-top: 5px;
  font-weight: -5px;
}

.facebook a {
  text-decoration: none;
  color: #385185;
  font-size: 16px;
}

.facebook img {
  display: inline-block;
  width: 13px;
}

.lupa-pass {
  text-align: center;
}

.lupa-pass a {
  text-decoration: none;
  font-size: small;
  padding-right: 12px;
  color: white;
}

.p2 {
  display: block;
  border: 1px solid rgb(255, 255, 255);
  padding-right: 40px;
  padding-bottom: 4px;
  margin-top: -6px;
}

.create-account {
  text-align: center;
  color: white;
}

.create-account a {
  color: #4cb4f8;
  text-decoration: none;
}

.dapat_apk {
  text-align: center;
  color: white;
}

.play-store {
  display: inline-block;
  padding-top: -50px;
  padding-left: 65px;
  max-width: 105px;
  margin-right: 5px;
}

.app-store {
  height: 37px;
  max-width: 120px;
}

footer {
  width: 1200px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  list-style: none;
  gap: 10px;
  margin: 20px 0;
}

li,
a {
  color: #ffffff;
  text-decoration: none;
}

select {
  color: rgb(255, 255, 255);
  font-size: 12px;
  border: 0px;
  outline: 0px;
  background: black;
}

footer a {
  text-decoration: none;
}
